# Ignore configuration files that may contain sensitive information.
#sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
/db12920
/nbproject/private/
/nbproject
/sites/default/settings.php
/sites/all/libraries